<div>
  <h1>Bienvenidos al chat con websockets de Mauro!</h1>
  <div>
    <input type="text" id="chatbox" />
  </div>
  <div>
    <p id="messageLogs"></p>
  </div>
</div>
{{! Importamos el javascript de sweetalert2 para las alertas }}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{! Importamos el javascript de socket.io para utilizarlo dentro del archivo main.js }}
<script src="./socket.io/socket.io.js"></script>
<script src="./js/main.js"></script>